.menuItemCard {
    background-color: #1a150a !important;
}

.menuItemImage {
    /* width: 200px !important; */
    /* height: 200px;
    object-fit: cover;
    border: 1px #fff solid; */
    display: block;
    margin: 0 auto;
}