.activeBtn {
    background: #fff
}

.scrollArrowBtn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    z-index: 10;
}

.tabBtn {
    white-space: nowrap;
    /* background-color: #f8f9fa; */
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.tabBtn:hover {
    background-color: #e9ecef;
}

.scrollMenu {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollMenu::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}