.unable {
    color : var(--bs-secondary-color) !important;
    background : #e6e6e6 !important;
    border-color : #aaaaaaa8 !important;
}
.card {
    border : 2px solid #fafafa;
    box-shadow : none !important;
    border-radius : 0.25rem !important;
    padding : 0.5rem !important;
    min-height: 70px;
    align-items: middle;
}
.active {
    color : var(--bs-primary-color) !important;
    background : var(--bs-primary-color) !important;
    border-color: #707070 !important;
}