.tagBox {
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
}
.checked {
    background: #eaf6ed;
    color: #049912;
}
.unChecked {
    background: #eaf6ed;
    color: #666666;
}
.inform {
    font-size: 0.7rem;
    color: #999;
    padding : 5px;
}